.LandingTop {
  padding: 10rem 0 6.5rem;
  background-image: url("../public/images/dark.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: #ffffff;

  .LeftBoldTexts {
    font-size: 3.8rem;
    font-weight: 700;
  }

  .RightContainer {
    .RightMainCard {
      width: 91%;
      height: 43rem;
      margin-left: 4rem;
      padding: 1.5rem;
      font-weight: 700;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.LatestPostContainer {
  padding-top: 7rem;
  padding-right: 6.5rem;
  padding-left: 6.5rem;
  .Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .PostList {
    display: grid;
    grid-template-columns: repeat(4, 100fr);
    row-gap: 1.5rem;
    column-gap: 0.8rem;
  }
}
