.LandingTop {
  padding: 10rem 0 6.5rem;
  background-image: url("../public/images/dark.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: #ffffff;

  .LeftBoldTexts {
    font-size: 3.8rem;
    font-weight: 700;
  }

  .RightContainer {
    .RightMainCard {
      width: 91%;
      height: 43rem;
      margin-left: 4rem;
      padding: 1.5rem;
      font-weight: 700;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.LatestPostContainer {
  padding-top: 7rem;
  padding-right: 6.5rem;
  padding-left: 6.5rem;
  .Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .PostList {
    display: grid;
    grid-template-columns: repeat(4, 100fr);
    row-gap: 1.5rem;
    column-gap: 0.8rem;
  }
}

.SubscribeContainer {
  margin-top: 8rem;
  padding-right: 6.5rem;
  padding-left: 6.5rem;

  .SubscribeActionContainer {
    width: 100%;
    display: flex;
    margin-top: 4rem;

    input {
      width: 54rem;
      height: 3.5rem;
      border-radius: 5px;
      outline: 0;
      border: none;
      padding: 1.5rem;
      margin-right: 1rem;

      ::placeholder {
        color: var(--text-color);
      }
    }
  }

  .SubscribeCard {
    height: 30rem;
    background-color: var(--primary-color-fifty);
    padding: 6.5rem;
    color: #ffffff;

    .RightContainer {
      position: relative;
      p {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.FooterContainer {
  margin-top: 8.5rem;
  padding-right: 6.5rem;
  padding-left: 6.5rem;

  .RightContainer {
    .ColumnOne,
    .ColumnTwo,
    .ColumnThree {
      ul {
        list-style-type: none;
        color: var(--text-color);

        li {
          margin-top: 2rem;

          &:first-child {
            margin-top: 0;
            font-weight: 700;
            color: #000000 !important;
          }
        }
      }
    }
  }

  .LeftContainer {
    .TextContainer {
      width: 15rem;

      p {
        margin-top: 2rem;
        color: var(--text-color);
      }
    }
  }
}
