.Container {
  margin-bottom: 1rem;
  .ImageContainer {
    height: 22rem;
    width: 29rem;
    overflow: hidden;

    :hover {
      transform: scale(1.1);
    }

    .Image {
      cursor: pointer;
      object-fit: cover;
      transition: transform 0.8s ease;
    }
  }

  .TextContainer {
    padding-top: 2.5rem;

    .TimeStamp {
      color: var(--text-color);
      margin: 1.5rem 0;
      font-size: 0.75rem;

      span {
        margin-left: 0.8rem;
      }
    }
  }
}
