.LayoutWrapper {
  .NavContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .NavBar {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 0.5rem 6.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.23);

      .NavBarCollapse {
        .NavBarNav {
          li {
            margin-right: 2rem;
          }
          .NavLink {
            color: #ffffff;
          }
        }
      }
    }

    .NavBarBG {
      background-color: #000000;
    }

    .NavBarBlue {
      background-color: var(--primary-color-fifty);
    }

    .ExtraSearchNav {
      background-color: var(--primary-color-fifty);
      height: 7.5rem;
      padding: 2rem 6.5rem;
      width: 100%;
      display: flex;

      input {
        width: 72.6rem;
        height: 3.5rem;
        border-radius: 5px;
        outline: 0;
        border: none;
        padding: 1.5rem;
        margin-right: 1rem;

        ::placeholder {
          color: var(--text-color);
        }
      }
    }

    .FIrstNavSidePiece {
      ul {
        list-style-type: none;

        li {
          display: inline;
          margin-left: 2rem;
          color: #ffffff;
        }
      }
    }
  }

  .SubscribeContainer {
    margin-top: 8rem;
    padding-right: 6.5rem;
    padding-left: 6.5rem;

    .SubscribeActionContainer {
      width: 100%;
      display: flex;
      margin-top: 4rem;

      input {
        width: 54rem;
        height: 3.5rem;
        border-radius: 5px;
        outline: 0;
        border: none;
        padding: 1.5rem;
        margin-right: 1rem;

        ::placeholder {
          color: var(--text-color);
        }
      }
    }

    .SubscribeCard {
      height: 30rem;
      background-color: var(--primary-color-fifty);
      padding: 6.5rem;
      color: #ffffff;

      .RightContainer {
        position: relative;
        p {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 0;
        }
      }
    }
  }

  .FooterContainer {
    margin-top: 8.5rem;
    padding-right: 6.5rem;
    padding-left: 6.5rem;

    .RightContainer {
      .ColumnOne,
      .ColumnTwo,
      .ColumnThree {
        ul {
          list-style-type: none;
          color: var(--text-color);

          li {
            margin-top: 2rem;

            &:first-child {
              margin-top: 0;
              font-weight: 700;
              color: #000000 !important;
            }
          }
        }
      }
    }

    .LeftContainer {
      .TextContainer {
        width: 15rem;

        p {
          margin-top: 2rem;
          color: var(--text-color);
        }
      }
    }
  }
}
